.mainContainer {
	display: flex;
	justify-content: center;
	background-image: url('../../Imagenes/PokemonGroup.jpg');
	padding: 2% 6% 3%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	width: 87vw;
}

.infoContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* Tamaño */
	width: 500px;
	height: 800px;
	padding: 24px;
	margin: 24px;
	/* Glasmorfismo */
	background: rgba(255, 255, 255, 0.6);
	box-shadow: 0 8px 20px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}


.button {
	display: flex;
	padding: 10px 20px;
	background-color: #07121d;
	color: white;
	text-decoration: none;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	cursor: pointer;

	transition: background-color 0.3s ease, box-shadow 0.3s ease;
	/* Agregar box-shadow a la transición */
	box-shadow: 0px 4px 8px rgba(38, 70, 134, 0.931);
	/* Añadir sombreado */
}

.button:hover {
	background-color: #1e4a78;
	box-shadow: 0px 6px 12px rgb(23, 92, 161);
}

.formField {
	width: 100%;
	border: 0;
	border-bottom: 3px solid var(--primary);
	outline: 0;
	font-size: 18px;
	color: var(--black);
	padding: 7px 0;
	background: transparent;
	transition: border-color 0.2s;
}

.formField::placeholder {
	color: brown;
}

.formField:placeholder-shown~.formLabel {
	color: var(--primary);
	font-size: 18px;
	cursor: text;
	top: 20px;
}


.customSelect {
	display: block;
	font-size: 16px;
	font-family: Roboto;
	font-weight: 400;
	border-radius: 5px;
	color: var(--primary);
	padding: 10px;
	width: 350px;
	height: 50px;
	margin-top: 12px;
	border: 1px solid var(--primary);
	box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.922);
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	outline: none;
	
	background-repeat: no-repeat, repeat;
	background-position: right 18px top 50%;
	background-size: 12px auto, 100%;
}

.customSelect:focus {
	border: 2px solid var(--primaryFocus);
}
.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    height: 100px;
    width: 98px;
    border-radius: 50%;
    overflow: hidden; /* Para ocultar partes de la imagen que sobresalgan del contenedor */
}

.imageContainer img {
    max-width: 100%; /* La imagen nunca será más grande que el contenedor */
    max-height: 100%; /* La imagen nunca será más alta que el contenedor */
}
.buttonX {
	position: sticky;
	color: var(--white);
	background: none;
	border: none;
	font-size: 16px;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	font-size: 18px;
	transition: 0.3s;
}

.buttonX:hover {
	transition: 0.3s;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	background-color: var(--primaryFocus);
}