.mainContainer {
	display: flex;
	justify-content: center;
	background-image: url('../../Imagenes/PokemonGroup.jpg');
	padding: 2% 6% 3%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	width: 87vw;
}

.infoContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* Tamaño */
	width: 500px;
	height: 800px;
	padding: 24px;
	margin: 24px;
	/* Glasmorfismo */
	background: rgba(255, 255, 255, 0.6);
	box-shadow: 0 8px 20px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}


.button {
    display: flex;
    padding: 10px 20px;
    background-color: #07121d;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  
	transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Agregar box-shadow a la transición */
    box-shadow: 0px 4px 8px rgba(38, 70, 134, 0.931); /* Añadir sombreado */
}

.button:hover {
    background-color: #1e4a78;
	box-shadow: 0px 6px 12px rgb(23, 92, 161);
}